body {
    background-image:linear-gradient(to bottom, white, black);
    background-repeat:no-repeat;
    background-size:auto;
}

#wrapper {
    margin-left:auto;
    margin-right:auto;
    display:block;
    width:50%;
}
